<h1>Add New Product</h1>
<hr>
<link rel="stylesheet" href="ans.css">
<form name="myForm">
    <div class="subjectID">
        ID: <div></div><input type="text" ng-model="subject.id" name="id" ng-pattern="/^P+[0-9]{2}$/" required/>
        <div></div>
        <span ng-show="myForm.id.$error.required" class="error">ID is Required</span>
        <div></div>
        <span ng-show="myForm.id.$invalid" class="error">ID has format: Pxx [x: digit]</span>
    </div>
    <div class="subjectname">
        Name: <div></div><input type="text" ng-model="subject.name" name="name" required/>
        <div></div>
        <span ng-show="myForm.name.$error.required" class="error">Name is Required</span>
    </div>
    <div class="subjectprice">
        Price: <div></div><input type="number" ng-model="subject.price" name="price" min="0" required/>
        <div></div>
        <span ng-show="myForm.price.$error.required" class="error">Price is Required</span>
        <div></div>
        <span ng-show="myForm.price.$invalid" class="error">Invalid price [must be > 0]</span>
    </div>
    <div>
        <b>In-stock </b><input type="checkbox" checked disabled>
    </div>
    <div style="margin-left: 10px;">
        <a href="#!a"><input type="submit" value="Add" ng-click="add()"
            ng-disabled="myForm.id.$invalid ||
            myForm.name.$invalid || myForm.price.$invalid"></a>
    </div>
</form>
<hr>
<footer>
    <b id="footer">&copy;Copyright FPT Aptech</b>
</footer>