<h1>Course List</h1>
<hr>
<label for="">Enter Course Name: </label>
<input type="text">
<div></div>
<input type="radio" name="chooseN" id="radioterm">Long-term
<input type="radio" name="chooseN" id="radioterm2">Short-term
<input type="radio" name="chooseN" id="radioterm3" checked>All

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>No</th>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Fee</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in myData">
                <td>{{x.no}}</td>
                <td>{{x.id}}</td>
                <td>{{x.name}}</td>
                <td>{{x.type}}</td>
                <td>{{x.fee}}</td>
                <td>
                    <a href="#!a" ng-click="delete(x.no)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<footer>
    <b id="footer">&copy;Copyright FPT Aptech</b>
</footer>