ul{
    list-style-type: none;
    text-align: center;
    display: block;
    padding: 20px;
    border-bottom: solid 2px black;
    border-top: solid 2px black;
}
li{
    display: inline-block;
}
li a{
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
}
.error{
    color: crimson;
}
footer{
    text-align: center;
    margin-top: 5%;
}